<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drehen</key>
	<string>10x_drehen</string>
	<key>ohmen</key>
	<string>50k_Ohmen</string>
	<key>200</key>
	<string>200_euro_golf</string>
	<key>gut</key>
	<string>aber_gut</string>
	<key>abo</key>
	<string>abonnieren_nicht_vergessen</string>
	<key>abwischen</key>
	<string>abwischen</string>
	<key>ähm</key>
	<string>ähm</string>
	<key>arschlecken</key>
	<string>arschlecken</string>
	<key>tschau</key>
	<string>bis_dann_tschau</string>
	<key>mal</key>
	<string>bis_zum_nächsten_mal</string>
	<key>tatsachen</key>
	<string>boden_der_tatsachen</string>
	<key>compailieren</key>
	<string>compailieren</string>
	<key>anschauen</key>
	<string>dankeschön_fürs_anschauen</string>
	<key>unbedingt</key>
	<string>dann_müsst_ihr_unbedingt</string>
	<key>isch_wichtig</key>
	<string>das_isch_wichtig</string>
	<key>chinesen</key>
	<string>das_problem_ist_dass_chinesen</string>
	<key>nicht_lustig</key>
	<string>das_wird_nicht_lustig</string>
	<key>daumen</key>
	<string>daumen_hoch</string>
	<key>vergaser</key>
	<string>des_ding_ischn_vergaser</string>
	<key>rechnung</key>
	<string>die_rechnung_kann_ich</string>
	<key>fuck</key>
	<string>fuck</string>
	<key>arsch</key>
	<string>fürn_arsch</string>
	<key>wichtig</key>
	<string>ganz_wichtig</string>
	<key>ground</key>
	<string>ground</string>
	<key>groundsignal</key>
	<string>groundsignal</string>
	<key>aufpassen</key>
	<string>höllisch_aufpassen</string>
	<key>aw</key>
	<string>ich_bin_adam_wilczek</string>
	<key>hause</key>
	<string>ich_fahr_nach_hause</string>
	<key>egal</key>
	<string>isch_ja_eig_egal</string>
	<key>kacke</key>
	<string>kacke_in_der_fresse</string>
	<key>leute</key>
	<string>leute</string>
	<key>schutzbrille</key>
	<string>manchmal_braucht_man_ne_schutzbrille</string>
	<key>oder</key>
	<string>oder_oder_oder</string>
	<key>schalten</key>
	<string>schalten_wir_dich_mal_ein</string>
	<key>einschalten</key>
	<string>schaltet_beim_nächsten_mal_wieder_ein</string>
	<key>schlauch</key>
	<string>schlauch_hin_und_her_drehen</string>
	<key>eingeschaltet</key>
	<string>schön_dass_ihr_eingeschaltet_habt</string>
	<key>so_leude</key>
	<string>so_leude</string>
	<key>spannung</key>
	<string>spannungsversorgung</string>
	<key>vllt</key>
	<string>vllt_vllt_ja</string>
	<key>spritzen</key>
	<string>vorsichtig_es_kann_spritzen</string>
	<key>koks</key>
	<string>was_fürn_koks_nimmst_du</string>
	<key>wirkungsgrad</key>
	<string>wirkungsgrad</string>
	<key>sage</key>
	<string>wo_ich_sage</string>
</dict>
</plist>
