<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drehen</key>
	<string>10x drehen</string>
	<key>ohmen</key>
	<string>50k Ohmen</string>
	<key>200</key>
	<string>200 Euro Golf</string>
	<key>gut</key>
	<string>Aber gut</string>
	<key>abo</key>
	<string>Abonnieren</string>
	<key>abwischen</key>
	<string>Abwischen</string>
	<key>ähm</key>
	<string>Ähm</string>
	<key>arschlecken</key>
	<string>Arschlecken</string>
	<key>tschau</key>
	<string>Tschau</string>
	<key>mal</key>
	<string>Bis zum nächsten Mal</string>
	<key>tatsachen</key>
	<string>Boden der Tatsachen</string>
	<key>compailieren</key>
	<string>Compailieren</string>
	<key>anschauen</key>
	<string>Danke fürs Anschauen</string>
	<key>unbedingt</key>
	<string>Ungedingt!</string>
	<key>isch_wichtig</key>
	<string>Das isch wichtig</string>
	<key>chinesen</key>
	<string>Chinesen</string>
	<key>nicht_lustig</key>
	<string>Nicht lustig</string>
	<key>daumen</key>
	<string>Daumen hoch</string>
	<key>vergaser</key>
	<string>Vergaser</string>
	<key>rechnung</key>
	<string>Rechnung zerreisen</string>
	<key>fuck</key>
	<string>FUCK</string>
	<key>arsch</key>
	<string>Fürn Arsch</string>
	<key>wichtig</key>
	<string>Ganz wichtig!</string>
	<key>ground</key>
	<string>Ground</string>
	<key>groundsignal</key>
	<string>Groundsignal</string>
	<key>aufpassen</key>
	<string>Höllisch aufpassen!!!</string>
	<key>aw</key>
	<string>Ich bin Adam Wilczek</string>
	<key>hause</key>
	<string>Nach Hause fahren</string>
	<key>egal</key>
	<string>Isch ja egal</string>
	<key>kacke</key>
	<string>Kacke in der Fresse</string>
	<key>leute</key>
	<string>Leute</string>
	<key>schutzbrille</key>
	<string>Schutzbrille</string>
	<key>oder</key>
	<string>Oder oder oder</string>
	<key>schalten</key>
	<string>Teil einschalten</string>
	<key>einschalten</key>
	<string>Outro</string>
	<key>schlauch</key>
	<string>Schlauch</string>
	<key>eingeschaltet</key>
	<string>Intro</string>
	<key>so_leude</key>
	<string>So Leude</string>
	<key>spannung</key>
	<string>Spannungsversorgung</string>
	<key>vllt</key>
	<string>Vllt vllt ja</string>
	<key>spritzen</key>
	<string>Spritzen</string>
	<key>koks</key>
	<string>Koks</string>
	<key>wirkungsgrad</key>
	<string>Wirkungsgrad</string>
	<key>sage</key>
	<string>Wo ich sage</string>
</dict>
</plist>
