<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drehen</key>
	<string>0</string>
	<key>ohmen</key>
	<string>12</string>
	<key>200</key>
	<string>1</string>
	<key>gut</key>
	<string>24</string>
	<key>abo</key>
	<string>13</string>
	<key>abwischen</key>
	<string>14</string>
	<key>ähm</key>
	<string>25</string>
	<key>arschlecken</key>
	<string>2</string>
	<key>tschau</key>
	<string>36</string>
	<key>mal</key>
	<string>26</string>
	<key>tatsachen</key>
	<string>15</string>
	<key>compailieren</key>
	<string>3</string>
	<key>anschauen</key>
	<string>16</string>
	<key>unbedingt</key>
	<string>17</string>
	<key>isch_wichtig</key>
	<string>29</string>
	<key>chinesen</key>
	<string>18</string>
	<key>nicht_lustig</key>
	<string>19</string>
	<key>daumen</key>
	<string>27</string>
	<key>vergaser</key>
	<string>37</string>
	<key>rechnung</key>
	<string>20</string>
	<key>fuck</key>
	<string>4</string>
	<key>arsch</key>
	<string>28</string>
	<key>wichtig</key>
	<string>38</string>
	<key>ground</key>
	<string>39</string>
	<key>groundsignal</key>
	<string>30</string>
	<key>aufpassen</key>
	<string>5</string>
	<key>aw</key>
	<string>6</string>
	<key>hause</key>
	<string>7</string>
	<key>egal</key>
	<string>21</string>
	<key>kacke</key>
	<string>22</string>
	<key>leute</key>
	<string>31</string>
	<key>schutzbrille</key>
	<string>34</string>
	<key>oder</key>
	<string>32</string>
	<key>schalten</key>
	<string>8</string>
	<key>einschalten</key>
	<string>23</string>
	<key>schlauch</key>
	<string>9</string>
	<key>eingeschaltet</key>
	<string>40</string>
	<key>so_leude</key>
	<string>41</string>
	<key>spannung</key>
	<string>42</string>
	<key>vllt</key>
	<string>33</string>
	<key>spritzen</key>
	<string>10</string>
	<key>koks</key>
	<string>11</string>
	<key>wirkungsgrad</key>
	<string>43</string>
	<key>sage</key>
	<string>35</string>
</dict>
</plist>
